<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <script>
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
            window.location.href = "/";
        };
    </script>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand">Registered Users</span>

    <div>
        <a href="/admin/dashboard" class="btn btn-primary btn-sm">Dashboard</a>
        <a href="/auth/logout" class="btn btn-danger btn-sm">Logout</a>
    </div>
</nav>

<div class="container mt-5">

    <table class="table table-bordered">

        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.role}"></td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>