<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">
    <h2>Orders</h2>

    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.productId}"></td>
            <td th:text="${order.quantity}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.createdAt}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>